* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  height: 100%;
}

.game-board {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.winner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  border-radius: 0.25em;
  z-index: 20;
  color: white;
  font-size: 2rem;
}

.winner img {
  height: 2rem;
  z-index: 30;
  filter: brightness(10) invert(1);
}

.winner-player {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.square {
  width: 100px;
  height: 100px;
  background: #ddd;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.square img {
  height: 2.5rem;
}

.square.highlight {
  background-color: #90ee90;
  position: relative;
}

.board-row {
  display: flex;
}

.board {
  background-color: #eee;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 3px #eee solid;
}

.status {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.status img {
  height: 2.5rem;
}

.controls {
  display: flex;
  gap: 0.4rem;
}

.reset-button {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.again-button {
  display: flex;
  align-items: center;
  padding: 0.4em 0.8em;
  border-radius: 0.2em;
  border: none;
  box-shadow: 2px 2px 4px #000;
  gap: 0.5em;
  cursor: pointer;
}

.audio-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  height: 2.5rem;
  cursor: pointer;
}

.multi-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 600;
}

.multi-button.active {
  background: var(--primary);
  color: white;
}

.faded-image {
  opacity: 0;
}
.square:hover .faded-image {
  opacity: 50%;
}

.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
