:root {
  --primary: #ff758c;
  --gradient-main: linear-gradient(to right, #ff7eb3, #ff758c, #ff7eb3);
}

.app-header {
  padding: 1em 0;
  text-align: center;
  color: white;
  background: var(--gradient-main);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-title {
  font-size: 1.5rem; /* text-2xl */
  font-weight: bold; /* font-bold */
  font-family: "Arial", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .app-title {
    font-size: 1.875rem; /* md:text-3xl */
  }
}

.app-main {
  flex-grow: 1;
  display: flex;
  padding: 0.25em;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.app-footer {
  background: var(--gradient-main);
  color: white; /* text-white */
  padding: 1rem 0;
  text-align: center; /* text-center */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.app-footer a:link {
  color: while;
}

.heart-icon {
  color: #e74c3c;
  animation: pulse 1.5s infinite;
}
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
